li a{
    text-decoration: none;
    font-size: 30px;
    
   
}
li{
    list-style-type: none;
    display: inline;
    padding: 100px;
    text-align:center;
}
.A1{
    background-color: lightcyan;
    height:50px;
    text-align: center;
}
.B{
    margin-left:550px;
    margin-top:30px;
}
.video{
    height:400px;
    width:700px;
    margin-top:20px;
    margin-left: 500px;
}
.A2{
    text-align: center;
    font-size: 40px;
}
.A3{
    text-align:center;
    font-size:20px;
}
.num1{
    font-size: 50px;
    margin-left:650px;
}
.num2{
    font-size: 50px;
    margin-left:200px;
}
.num3{
    font-size: 20px;
    margin-left:660px;
}
.num4{
    font-size: 20px;
    margin-left:240px;
}
.num5{
    font-size: 50px;
    margin-left:650px;
}
.num6{
    font-size: 50px;
    margin-left:220px;
    
}
.aa{
    margin-top:40px;
}
.aa1{
    margin-top:20px;
}
.aa2{
    margin-top:20px;
}
.back{
    width:80px;
    height:30px;
    background-color: blue;
    color:white;
    font-size:20px;
    margin-left:850px;
    margin-top:30px;
}
.icon1{
    margin-right:10px;
    height:20px;
    width:20px;
}